#div_central{
    height: 700px;
    width: 30%;
    background: linear-gradient(#82D9AA,#45735A);
    margin: 20px auto;
    border-radius: 50px;
    padding: 10px 40px;
}
h1{
    font-family: cookie;
    font-size: 3rem;
    color: black;
}
form{
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
}
.titre{
    margin: 10px 0px;
}

.titre label , .champ input ,#champ_select label{
    font-family: lobster;
    font-size: 1.2rem;
    color :black;
}
.champ input{
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.champ input:focus {
    border-bottom: 2px solid black;
}
#champ_select select{
    color: black;
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    margin-left: 2%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: 1px none black;
    outline: none;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 50px;
    font-family: sansita;
}
/* #champ_select select option:hover{
    background-color: #82D9AA;
} */
#bouton_connexion{
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
}
input[type='submit']{
    font-family: lobster;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #E1C675;
    border: 1px solid black;
}
#zone_deja_inscrit{
    width: 100%;
    margin: 0px auto;  
}
#zone_deja_inscrit p{
    text-align: center;
    margin-top:30px;
    color: white;
    font-size: 1rem;
    font-family: sansita;
}
#zone_deja_inscrit a{
    font-family: sansita;
    color: #E1C675;
}

/* Responsive pour les petits écrans */
@media only screen and (max-width: 800px) { 
    #div_central {
        height: 1900px; 
        width: 90%; 
    }

    h1 {
        font-size: 2.5rem;
    }

    #zone_deja_inscrit p {
        font-size: 0.9rem;
        margin-bottom: 20px;
        padding-bottom: 50px;
    }
}

/* Très petits écrans (-480px) */
@media only screen and (max-width: 480px) {
    #div_central {
        height: 1000px; 
        width: 95%; 
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    input[type='submit'] {
        font-size: 1.2rem;
        padding: 8px;
    }

    #zone_deja_inscrit p {
        font-size: 0.8rem;
    }
}

