/* SearchBar Section */
.SearchBar {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}
.SearchBar form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}

form input {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    font-size: 1.2rem;
}

form button {
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px;
    cursor: pointer;
}

.searchButtonSite img, .searchButtonSalle img {
    width: 1.5rem;
    height: 1.5rem;
}
/* .searchButtonSite input, .searchButtonSalleinput input{
    width: 40%;
} */

/* Table Section */
.table-container {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    min-height: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,table td {
    border: 1px solid #ddd;
    padding: 10px;
    height: 40px;
    text-align: left;
}

table th {
    background-color: rgb(100, 100, 100);
    color: white;
    font-family: sansita;
    font-size: 1.6rem;
}
table th:last-child {
    text-align: center;
}
tbody tr td{
    font-weight: bold;
}
tbody tr td:last-child{
    text-align: center;
    font-weight: bold;
}
tbody td a button{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;
    border: none;
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0px 10px;
}
tbody td a button:hover{
    background-color: #ddd;
    transition: background-color 0.5s;
}
#message{
    width: 60%;
    padding: 50px;
    margin: 50px auto;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 2px;
}
#message h3{
    font-family: sansita;
    font-size: 2rem;
}
#message p{
    font-family: nerko;
    font-size: 1.4rem;
}
#message p a{
    color:lime;
    font-size: 1.6rem;
}
#message p a:hover{
    color: #FFD700;
    transition: color 0.5s;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
    .SearchBar {
        grid-template-columns: 1fr; /*we want to stack search bars vertically on small screens */
    }

    form input {
        width: 80%; 
    }

    form button {
        margin-left: 0;
        width: 10%; 
    }

    .table-container {
        padding: 10px;
    }

    table th, table td {
        padding: 8px; 
        font-size: 1rem;
    }

    table th {
        font-size: 1.2rem; /* Slightly smaller header text */
    }

    tbody td a button {
        width: 100%; /* Buttons inside the table are full width */
        margin: 5px 0;
    }

    #message {
        width: 90%;
        padding: 20px;
    }
}

/* for the screens minus 480px*/
@media only screen and (max-width: 480px) {
    .SearchBar {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

    form input {
        width: 80%; 
        font-size: 0.9rem; 
    }

    form button {
        width: 10%; 
        font-size: 0.9rem; /* Reduce button font size */
        padding: 8px; /* Reduce padding */
    }

    .table-container {
        padding: 5px; 
    }

    table th, table td {
        padding: 5px; /* Smaller padding for table cells */
        font-size: 0.8rem; 
    }

    table th {
        font-size: 1rem; 
    }

    tbody td a button {
        width: 100%; 
        font-size: 0.9rem; 
        margin: 2px 0; 
        padding: 6px; /* Reduce padding for buttons cheks*/
    }

    #message {
        width: 95%; 
        padding: 10px; 
        font-size: 0.9rem; 
    }
    #message h3 {
        font-size: 1.6rem; 
    }
    #message p {
        font-size: 1.1rem; 
    }

    #message p a {
        font-size: 1.2rem; 
    }
}
