/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50;
}

header .logo img {
    height: 50px;
}

.nav {
    flex-grow: 1;
    margin-left: 20px;
}

.nav .menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.nav .menu li {
    margin-right: 20px;
}

.nav .menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.connexion .ConnexionButton {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

.connexion .ConnexionButton a {
    color: #4CAF50;
    text-decoration: none;
}

.connexion .ConnexionButton:hover {
    background-color: #ddd;
}

/* Style for the Toggle Menu */
.toggle_menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.toggle_menu #toggleButton {
    background-color: transparent;
    border: none;
    color: #FFD700;
    font-size: 24px;
    cursor: pointer;
}

.container {
    padding-top: 70px;
    position: relative;
    text-align: center;
    color: white;
    z-index: 0;

}
.container img{
    width: 500px;
    height: 600px;
}

.background-image {
    width: 100%;
    height: auto;
    opacity: 0.8;
    filter: blur(3px);
}

.reservation-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.reservation-form h2 {
    margin-bottom: 15px;
    color: #4CAF50;
}

.reservation-form p {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

.reservation-form label {
    font-weight: bold;
    font-size: 14px;
    color: #4CAF50;
    margin-bottom: 5px;
    display: block;
}

.reservation-form select,
.reservation-form input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}

.date-time {
    display: flex;
    justify-content: space-between;
}

.date-input {
    flex: 1;
    margin-right: 10px;
}

.date-input:last-child {
    margin-right: 0;
}

.reservation-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.reservation-form button:hover {
    background-color: #45a049;
}




/* Responsive Menu */
@media (max-width: 768px) {
    .toggle_menu {
        display: block;
        z-index: 1001; /* Assurez-vous que le toggle menu est au-dessus de tout */
    }
    
    .nav ul {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #4CAF50;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        flex-direction: column;
        width: 150px;
        z-index: 1000; /* Assurez-vous que le menu est au-dessus des autres éléments */
    }
    
    .nav ul.active {
        display: flex;
    }
    
    .nav ul li {
        width: 100%;
        text-align: left;
    }
    
    .nav ul li a {
        color: #333;
        padding: 10px 20px;
        display: block;
    }
    
    .nav ul li a:hover {
        background-color: #FFD700;
        color: #333;
    }

    /* Ensure header elements stay on top */
    header {
        position: relative;
        z-index: 999; /* Ensure the header itself is above other content */
    }

    .container {
        z-index: 1; /* Ensure the container is below the header */
        position: relative;
    }
}


/*footer*/
.footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 20px;
    margin-top: 150px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #FFD700; 
}

.footer-section p,
.footer-section ul,
.footer-section li {
    margin: 5px 0;
    font-size: 14px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #FFD700; 
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #FFD700; 
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #222;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}